services:
  # --- 1. APPLICATIONS ---
  
  # User Service (Lumen)
  user-service:
    build: ./user-services
    container_name: service-user
    ports:
      - "${USER_SERVICE_PORT}:8000"
    volumes:
      - ./user-services:/var/www
    depends_on:
      - user-db
    networks:
      - lelang-network

  # Item Service (Python/FastAPI)
  item-service:
    build: ./item-services
    container_name: service-item
    ports:
      - "${ITEM_SERVICE_PORT}:8000"
    volumes:
      - ./item-services:/app
    depends_on:
      - item-db
    networks:
      - lelang-network

  # Bidding Service (Node.js/Socket.io)
  bidding-service:
    build: ./bidding-services
    container_name: bidding-service
    ports:
      - "${BIDDING_SERVICE_PORT}:3000"
    volumes:
      - ./bidding-services:/app
      - /app/node_modules
    depends_on:
      - bidding-db
    networks:
      - lelang-network

  # Notification Service (Go)
  notification-service:
    build: ./notification-services
    container_name: notification-service
    ports:
      - "8004:8004" 
    depends_on:
      - redis-broker
    networks:
      - lelang-network

  # --- 2. DATABASES ---

  user-db:
    image: mysql:8.0
    container_name: user-database
    environment:
      MYSQL_DATABASE: ${USER_DB_NAME}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    networks:
      - lelang-network

  item-db:
    image: postgres:15
    container_name: item-db
    environment:
      POSTGRES_DB: ${ITEM_DB_NAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      - lelang-network

  bidding-db:
    image: mongo:6.0
    container_name: bidding-db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    networks:
      - lelang-network

  redis-broker:
    image: redis:alpine
    container_name: redis-broker
    networks:
      - lelang-network

  # --- 3. GUI TOOLS ---

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: gui-mysql-postgres
    ports:
      - "${PHPMYADMIN_PORT}:80"
    environment:
      PMA_HOSTS: user-db
      PMA_USER: root
      PMA_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    networks:
      - lelang-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: gui-postgres
    environment:
      # Email dan Password untuk login ke dashboard pgAdmin
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8083:80"
    networks:
      - lelang-network

  mongo-express:
    image: mongo-express
    container_name: gui-mongodb
    ports:
      - "${MONGO_EXPRESS_PORT}:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=bidding-db 
      - ME_CONFIG_MONGODB_ADMINUSERNAME=root
      - ME_CONFIG_MONGODB_ADMINPASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    depends_on:
      - bidding-db
    networks:
      - lelang-network

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: gui-redis
    ports:
      - "${REDIS_COMMANDER_PORT}:8081"
    environment:
      - REDIS_HOSTS=local:redis-broker:6379
    networks:
      - lelang-network

networks:
  lelang-network:
    driver: bridge